@model MotaskraningWeb.Models.MotaskraningModel
@{
    ViewData["Title"] = "Motaskraning";
}

<h1>Motaskraning</h1>

<!-- div>
    <a>Móthaldari: </a>
    <input value="Go!" onclick="" />
</div>
<div>
    <a>Staðsetning móts: </a>
    <input value="Go!" onclick="" />
</div>
<div>
    <a>Dómari: </a>
    <input value="Go!" onclick="" />
</div -->
<!--link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="/resources/demos/style.css">-->
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<!--<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>-->

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            @using (Html.BeginForm("Motaskraning", "Home", FormMethod.Post))
            {

                // @Html.HiddenFor(model => model.EmpID)

                <div class="form-group input-group-sm">
                    @Html.LabelFor(model => model.skraning.DagsFra)
                    @Html.TextBoxFor(model => model.skraning.DagsFra, new { @class = "form-control datepicker", placeholder = "Enter Drop-off date here..." })
                    @Html.ValidationMessageFor(model => model.skraning.DagsFra)
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.skraning.motshaldari, "Mótshaldari")
                    @Html.DropDownListFor(model => model.skraning.motshaldari, ViewBag.CityList2 as SelectList, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.skraning.stadsetning, "staðsetning")
                    @Html.DropDownListFor(model => model.skraning.stadsetning, ViewBag.CityList3 as SelectList, new { @class = "form-control" })
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.skraning.domari, "Dómari")
                    @Html.DropDownListFor(model => model.skraning.domari, ViewBag.CityList as SelectList, new { @class = "form-control" })
                </div>

                <table id="children">
                    <tbody>
                        <!-- tr>
                            <td><strong>Grein</strong></td>
                            <td><strong>Gerð greinar</strong></td>
                            <td><strong>Takkar</strong></td>
                        </tr -->
                        <tr>
                            <td><strong>Greinar:</strong></td>
                        </tr>
                        @if (Model.skraning.greinar != null)
                        {
                            @foreach (var grein in Model.skraning.greinar)
                            {
                                <tr>
                                    @Html.Partial("_Grein", grein)
                                </tr>
                            }
                        }
                    </tbody>
                </table>

                <button type="button" id="addChild" onclick="AddOne()">Bæta við grein</button>

                <input type="submit" class="btn btn-primary " value="Submit" />

            }
        </div>
    </div>
</div>



<script type="text/javascript">

    /*$(function () { // will trigger when the document is ready
       $('.datepicker').datepicker(); //Initialise any date pickers
    });*/


    function AddOne() {

        $.ajax({
             url: "@Url.Action("AddChild", "Home")",
            data: {
            },
            type: "Get",
            dataType: "html",
             success: function (data) {
                //Whatever result you have got from your controller with html partial view replace with a specific html.
                 $('#children> tbody:last-child').append(data);
                 // $("#ThresholdmodalPartialView").html(data); // HTML DOM replace
            }
        });
    }

</script>
